<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <title>Astra Bots | Discord Community</title>
  <link rel="shortcut icon" href="<%= bot.guilds.cache.get(config.server.id)?.iconURL() || "https://cdn.discordapp.com/embed/avatars/0.png" %>" type="image/x-icon">
  <meta name="title" content="Astra Bots | Discord Community">
  <meta name="keywords" content="astrabots, astra. bots. discordbots. astra community, astrabots.xyz, discord bot list, dicord server list, bot list, server list, discord">
  <meta name="description" content="We are a small community that tries to assist individuals expand their discord bots as well as their discord servers; we have a decent website, a good staff, and a solid membership. Don't forget to join us and become one of our most valuable members.">
  <meta name="theme-color" content="#5024f3">
  <meta name="og:site_name" content="Astrabots.xyz">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= config.website.url %>">
  <meta property="og:title" content="Asta Bots | Discord Community">
  <meta property="og:description" content="We are a small community that tries to assist individuals expand their discord bots as well as their discord servers; we have a decent website, a good staff, and a solid membership. Don't forget to join us and become one of our most valuable members.">
  <meta property="og:image" content="/assets/img/banner.jpg">
  <meta property="og:image:secure_url" content="/assets/img/banner.jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image:type" content="image/png">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="<%= config.website.url %>">
  <meta property="twitter:title" content="Asta Bots | Discord Community">
  <meta property="twitter:description" content="We are a small community that tries to assist individuals expand their discord bots as well as their discord servers; we have a decent website, a good staff, and a solid membership. Don't forget to join us and become one of our most valuable members.">
  <meta property="twitter:image" content="/assets/img/banner.jpg">
  <meta property="twitter:image:width" content="1200">
  <meta property="twitter:image:height" content="360">
  <meta property="summary_large_image" content="/assets/img/banner.jpg">
</head>

<%- include('../partials/head') %>

<body>
  <%- include('../partials/spinner') %>
  <main class="page-wrapper">
    <%- include('../partials/header') %>

    <section class="container mt-4 mb-5 pt-2 pb-lg-5">
      <div class="row gy-4"></div>
    </section>

    <section class="container mb-5 pb-lg-5">

      <div class="alert d-flex alert-warning" role="alert">
        <i class="bx bx-error lead me-3"></i>
        <div>
          <h6 class="alert-heading mb-1">Warning!</h6>
          <p class="mb-0">
            You are about to add a bot to the bot list.
            - <strong>By adding a bot, you agree to the Terms of Service and Privacy Policy.</strong>
          </p>
        </div>
      </div>


      <div class="border-bottom py-5 ps-lg-2 ps-xxl-0">

        <form class="needs-validation" id="form">

          <div class="mb-4 row align-items-center">
            <label class="col-md-2 col-form-label fs-sm" for="text-input">Client ID</label>
            <div class="col-md-10">
              <input class="form-control" type="text" name="botID" id="botID" placeholder="Client ID" required>
              <div class="form-text">The client ID of your bot.</div>
            </div>
          </div>

          <div class="mb-4 row align-items-center">
            <label class="col-md-2 col-form-label fs-sm" for="text-input">Application ID</label>
            <div class="col-md-10">
              <input class="form-control" type="text" name="botID" id="appID" placeholder="appID" required>
              <div class="form-text mb-3">The application ID of your bot.</div>
            </div>
            <div class="alert d-flex alert-warning" role="alert">
              <i class="bx bx-error lead me-3"></i>
              <div>
                For new bots, the Application ID is the same as the Client ID. We have both because some older bots have a separate Application ID..
              </div>
            </div>
          </div>

          <div class="mb-4 row align-items-center">
            <label class="col-md-2 col-form-label fs-sm" for="text-input">Prefix <code>*</code></label>
            <div class="col-md-10 was-validated">
              <input class="form-control" type="text" name="prefix" id="prefix" placeholder="Prefix" required>
              <div class="form-text">The prefix of your bot.</div>
            </div>
          </div>

          <div class="d-sm-flex">
            <div class="w-100 me-4">
              <div class="mb-3">
                <label class="col-md-2 col-form-label fs-sm" for="text-input">InviteURL</label>
                <div class="form-text">The invite URL of your bot.</div>
              </div>
              <div class="mb-3 mb-sm-0">
                <input class="form-control mb-4" type="text" name="inviteURL" id="inviteURL" placeholder="https://discord.com/oauth2/authorize?client_id=CLIENT_ID&scope=bot&permissions=0" required>
              </div>
              <div class="mb-3">
                <label class="col-md-2 col-form-label fs-sm" for="text-input">Support Link</label>
                <div class="form-text">The support invite, which anyone may join if they need assistance with your bot.</div>
              </div>
              <div class="mb-3 mb-sm-0">
                <input class="form-control mb-4" type="text" name="supportURL" id="supportURL" placeholder="https://discord.gg/invite" required>
              </div>
              <div class="mb-3">
                <label class="col-md-2 col-form-label fs-sm" for="text-input">Website</label>
                <div class="form-text ">The support invite, which anyone may join if they need assistance with your bot.</div>
              </div>
              <div class="mb-3 mb-sm-0">
                <input class="form-control mb-4" type="text" name="websiteURL" id="websiteURL" placeholder="https://example.com" required>
              </div>
            </div>
            <div class="w-100">
              <div class="mb-3">
                <label class="col-md-2 col-form-label fs-sm" for="text-input">Webhook</label>
                <div class="form-text">This will be the webhook where all votes will be posted.</div>
              </div>
              <div class="mb-3 mb-sm-0">
                <input class="form-control mb-4" type="text" name="webhookURL" id="webhookURL" placeholder="https://discord.com/api/webhooks/WEBHOOK_ID/WEBHOOK_TOKEN" required>
              </div>
              <div class="mb-3">
                <label class="col-md-2 col-form-label fs-sm" for="text-input">Github</label>
                <div class="form-text">The Github URL of your bot's repository.</div>
              </div>
              <div class="mb-3 mb-sm-0">
                <input class="form-control mb-4" type="text" name="githubURL" id="githubURL" placeholder="https://github.com/">
              </div>
            </div>
          </div>

          <div class="mb-4 row align-items-center">
            <label class="col-md-2 col-form-label fs-sm" for="text-input">Coowners</label>
            <div class="form-text">Your bot's co-owners are those people. Simply enter each co-ID owner's in the box below, then click the Add button, to add more than one co-owner. By selecting the Remove option next to their ID, you can also eliminate co-owners.</div>
            <div class="input-group mb-4">
              <input class="form-control" type="text" name="coowners" id="coowners" placeholder="Coowners">
              <button class="btn btn-secondary" type="button" id="addCoowner">Add</button>
            </div>
          </div>
          <script>
            document.querySelectorAll('[id^="removeCoowners"]').forEach(item => {
              item.addEventListener('click', event => {
                let id = item.id.replace('removeCoowners', '');
                let div = document.getElementById('removeCoowners' + id).parentElement;
                div.remove();
              })
            });
            document.querySelectorAll('[id^="addCoowner"]').forEach(item => {
              item.addEventListener('click', event => {
                let input = item.parentElement.children[0].value;
                if (input == '') return;
                let div = document.createElement('div');
                div.className = 'input-group mb-4';
                div.innerHTML = `
                <span class="input-group-text">
                  <i class="bx bx-user fs-lg"></i>
                </span>
                <input class="form-control" type="text" value="${input}" disabled>
                <button class="btn btn-danger" type="button" id="removeCoowners${input}">Remove</button>
                `;
                item.parentElement.parentElement.appendChild(div);
                item.parentElement.children[0].value = '';
                document.querySelectorAll('[id^="removeCoowners"]').forEach(item => {
                  item.addEventListener('click', event => {
                    let id = item.id.replace('removeCoowners', '');
                    let div = document.getElementById('removeCoowners' + id).parentElement;
                    div.remove();
                  })
                });
              })
            });
          </script>

          <section class="ps-lg-2 ps-xxl-0">
            <h2 class="h4">Tags</h2>
            <div class="form-text">
              Tags are used to categorize your bot. You can select up to 5 tags for your bot. If you do not see a tag that you think your bot should have, please <a href="/discord" target="_blank">contact us</a>.
            </div>
            <div class="card mb-4">
              <div class="card-body">
                <div class="row row-cols-sm-4 row-cols-2 gy-2 mb-3">
                  <% for (let i = 0; i < global.config.website.botTags.length; i++) { %>
                  <div class="col">
                    <div class="form-check mb-0">
                      <input type="checkbox" class="form-check-input" id="tag<%= global.config.website.botTags[i] %>" name="tags" value="<%= global.config.website.botTags[i] %>">
                      <label for="s-daily-newsletter" class="form-check-label"><%= global.config.website.botTags[i] %></label>
                    </div>
                  </div>
                  <% } %>
                </div>
                <h5 class="h5">Selected Tags</h5>
                <div class="row row-cols-sm-4 row-cols-2 gy-2 mb-3" id="selectedTags"></div>
                <Script>
                  document.querySelectorAll('[name="tags"]').forEach(item => {
                    if (item.checked) {
                      let div = document.createElement('div');
                      div.className = 'col';
                      div.innerHTML = `
                      <div class="form-check mb-0">
                        <input type="checkbox" class="form-check-input" id="tag${item.value}" name="tags" value="${item.value}" checked disabled>
                        <label for="s-daily-newsletter" class="form-check-label">${item.value}</label>
                      </div>
                      `;
                      document.getElementById('selectedTags').appendChild(div);
                    }
                  });

                  document.querySelectorAll('[name="tags"]').forEach(item => {
                    item.addEventListener('change', event => {
                      let tags = document.getElementById('selectedTags');
                      let tag = item.value;
                      if (item.checked == true) {
                        let div = document.createElement('div');
                        div.className = 'col';
                        div.innerHTML = `
                        <div class="form-check mb-0">
                          <input type="checkbox" class="form-check-input" id="tag${tag}" name="tags" value="${tag}" checked disabled>
                          <label for="s-daily-newsletter" class="form-check-label">${tag}</label>
                        </div>
                        `;
                        tags.appendChild(div);
                      } else if (item.checked == false) {
                        let div = document.getElementById('selectedTags').children;
                        for (let i = 0; i < div.length; i++) {
                          if (div[i].children[0].children[1].innerHTML == tag) {
                            div[i].remove();
                          }
                        }
                      }
                    })
                  });
                  if (document.getElementById('tags').children.length == 0) {
                    let div = document.createElement('div');
                    div.className = 'col';
                    div.innerHTML = `
                    <div class="form-check mb-0">
                      <label for="s-daily-newsletter" class="form-check-label">No tags selected</label>
                    </div>
                    `;
                    document.getElementById('tags').appendChild(div);
                  }
                </Script>
              </div>
            </div>
          </section>

          <section class="ps-lg-2 ps-xxl-0 was-validated mb-3">
            <h2 class="h4">Short Description <code>*</code></h2>
            <div class="form-text">A short description of your bot. (Do not support markdown)</div>
            <textarea class="form-control" style="height: 10rem" name="shortDesc" id="shortDesc" minlength="50" maxlength="140" placeholder="A short description of your bot." required></textarea>
          </section>

          <section class="ps-lg-2 ps-xxl-0 mb-3 was-validated">
            <h2 class="h4">Long Description <code>*</code></h2>
            <div class="form-text">A long description of your bot. (Supports markdown)</div>
            <textarea class="form-control" style="height: 30rem" name="longDesc" id="longDesc" minlength="200" maxlength="5000" placeholder="A long description of your bot." required></textarea>
          </section>
          <div id="results"></div>
          <div class="tab-pane fade show active" id="preview1" role="tabpanel">
            <button class="btn btn-primary" type="submit" id="submit">Submit Form</button>
          </div>
        </form>
      </div>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4793022343319587" crossorigin="anonymous"></script>
      <ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-gw-22-2r-9d+199" data-ad-client="ca-pub-4793022343319587" data-ad-slot="7366836311"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </section>

  </main>

  <%- include('../partials/footer') %>
</body>

</html>


<script>
  document.onclick = function(e) {
    if (e.target.id == 'submit') {
      e.preventDefault();
      document.getElementById('submit').disabled = true;
      setTimeout(() => {
        document.getElementById('submit').disabled = false;
      }, 2000);
      let coowner = [];
      document.querySelectorAll('[id^="removeCoowners"]').forEach(item => {
        let id = item.id.replace('removeCoowners', '');
        coowner.push(id);
      });

      let tags = [];
      document.querySelectorAll('[id^="tag"]').forEach(item => {
        if (item.checked) {
          tags.push(item.value);
        }
      });
      tags = [...new Set(tags)];

      let data = {
        botID: document.getElementById('botID').value,
        appID: document.getElementById('appID').value,
        prefix: document.getElementById('prefix').value,
        inviteURL: document.getElementById('inviteURL').value,
        supportURL: document.getElementById('supportURL').value,
        websiteURL: document.getElementById('websiteURL').value,
        githubURL: document.getElementById('githubURL').value,
        webhookURL: document.getElementById('webhookURL').value,
        shortDesc: document.getElementById('shortDesc').value,
        longDesc: document.getElementById('longDesc').value,
        coowners: coowner,
        tags: tags,
      }

      fetch('/bots/new', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      }).then(res => res.json()).then(json => {
        if (json.error == false) {
          window.location.href = `/bot/${json.botID}`;
        } else if (json.error == true) {
          document.getElementById('results').innerHTML = `<div class="alert alert-danger" role="alert">${json.message}</div>`;
        }
      });
    }
  }
</script>